@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
}

.content{
  margin: auto;
  width: 80%;
  text-align: center;
  color: snow;
}

h1{
  font-size: 4rem;
  font-family: 'Kanit', sans-serif;
}

h2{
  font-size: 1.6rem;
  font-family: 'Kanit', sans-serif;
}

hr{
  margin: 1rem;
}

.links{
  margin: 2rem;
}

span{
  color: #ff8303;
}

a{
  font-size: 2rem;
  margin: 2rem;
  color: #ff8303;
  text-decoration: none;
  font-family:'Rubik Wet Paint', cursive;
}
a:hover{
  text-shadow: 1px 1px 1px #000000, 
               1px 2px 1px #000000, 
               1px 3px 1px #ff5722,
               1px 4px 1px #ff5722, 
               1px 5px 1px #ff5722, 
               1px 6px 1px #ff5722,
               1px 7px 1px #ff5722, 
               1px 8px 1px #000000, 
               1px 9px 1px #ff5722,
               5px 10px 10px #000000;
  transition: all ease-in-out .5s;
}

.animated-block {
  margin-bottom: 50px;
}

#nut,
#wrench {
  display: block;
  margin: 0 auto;
}
.main-header {
  display: block;
  max-width: 300px;
  margin-bottom: 60px;
  font: 30px 'Raleway', sans-serif;
  color: #4d4d4d;
  text-align: center;
  text-transform: uppercase;
}

.main-link {
  font: 24px 'Open Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
